.masonry-columns {
  column-count: 3; /* Adjust the number of columns */
  column-gap: 0px;
}

.masonry-item {
  break-inside: avoid; /* Prevent items from breaking inside columns */
  display: inline-block;
  width: 100%; /* Full width within its column */
}

@media (min-width: 640px) {
  .dashboard-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (min-width: 768px) {
  .dashboard-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (min-width: 1024px) {
  .dashboard-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
